@font-face {
  font-family: Gramatika-Black; /* Имя шрифта */
  src: url(/fonts/15087.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Akzidenz-Grotesk Next; /* Имя шрифта */
  src: url(/fonts/AkzidGrtskNext-Regular.ttf); /* Путь к файлу со шрифтом */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Gramatika-Black;
}
p,
button {
  font-family: Akzidenz-Grotesk Next;
}
a:hover {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  /* position: relative; */
}
.menu-sticky .hdr{
  margin: 22px 52px 21px 67px;
}
.hdr {
  margin: 30px 52px 30px 67px;
}
.menu-sticky {
  background-color: #02031d;
}
.main-container {
  position: fixed;
  z-index: 99999;
  right: 0;
  display: none;
}
.close {
  display: none !important;
}
.close-menu {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 999999;
}
.menu-container {
  width: 853px;
  min-height: 100vh;
  margin: 0;
  background-image: url(/images/bg.png);
  color: #fff;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.s-cnt {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 150px 0 0 77px;
}
.h-menu {
  font-family: Akzidenz-Grotesk Next;
  color: #b5b4bb;
  font-size: 20px;
  line-height: 25px;
  margin-top: 150px;
  margin-left: 40px;
  margin-bottom: 70px;
}

.ftr-menu .h-menu{
  margin-bottom: 23px;
}
.menu-li {
  font-family: Akzidenz-Grotesk Next;
  list-style-type: none;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 29px;
  color: #fff;
}
.menu-li:hover,
.second-li:hover,
.mail-menu:hover {
  color: #ff4f6c;
}
.second-li {
  font-family: Gramatika-Black;
  font-size: 42px;
  line-height: 34px;
  text-transform: capitalize;
  margin-bottom: 36px;
  text-decoration-line: none;
}
.second-block a,
.first-block a {
  text-decoration-line: none;
}
.ftr-menu {
  /* margin-top: 200px; */
}

.mail-menu {
  font-family: Akzidenz-Grotesk Next;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: underline;
  color: #ffffff;
  margin-left: 40px;
}
.bumper {
  /* animation-name: float-bob;
  animation-duration: 3s;.form-control
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
  z-index: 999999999;
  position: absolute;
  left: 770px;
  top: 62px;
  padding: 50px;
  /* overflow: auto; */
  /* outline: 1px solid red; */
}
.single-slide {
  max-width: 1800px;
}
.bumper-img {
  position: relative;
}
/* HEADER START */
.main-menu {
  z-index: 99999;
  position: fixed;
  top: 0;
  width: 100%;
}
.btn-contact {
  width: 180px;
  height: 67px;
  border: 1px solid #35364a !important;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: transparent;
  /*float: right;*/
  color: #fff;
}
.btn-contact:hover{
  border-color: #e9516e !important;
}
.ham-div {
  /*background-image: url(/images/ham.png);*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: auto;*/
  width: 67px;
  height: 67px;
  border: 1px solid #35364a;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: transparent;
  /*float: right;*/
  margin-left: 10px;
  transition: .3s ease-in-out;
}
#menuToggle {
  display: block;
  position: relative;
  /* top: 50px;
  left: 50px; */

  z-index: 1;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  -webkit-transition: color 0.3s ease;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #e9516e;
}

#menuToggle input {
  display: block;
  width: 67px;
  height: 67px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: none;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  -webkit-transform-origin: 4px 0px;

  transform-origin: 4px 0px;

  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
    -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  display: block;
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}
#menuToggle input:checked ~ ul {
  display: block;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  display: none;
  position: absolute;
  width: 850px;
  margin: -100px 0 0 -732px;
  padding: 50px;
  padding-top: 125px;

  background: #151227;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  -webkit-transform-origin: 0% 0%;

  transform-origin: 0% 0%;
  -webkit-transform: translate(200%, 0);
  transform: translate(200%, 0);

  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
  color: #fff;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  -webkit-transform: none;
  transform: none;
}
/* HEADER END */

/* FIRST SECTION START */
#main-section {
  position: relative;
  height: 1000px;
  z-index: 1;
  background-color: #02031d;
  overflow: hidden;
  background-image: url(/images/grid2.png);
  background-position: bottom;
  background-repeat: no-repeat;
}
.blot-div {
  position: relative;
}
.blot {
  overflow: hidden;
}
.blot img {
  position: absolute;
}
.blot-header-1 {
  left: 973px;
  top: 0px;
}
.blot-header-2 {
  right: 70px;
  top: 514px;
}
.blot-header-3 {
  left: 360px;
  top: 148px;
}
.blot-slider-1 {
  left: 185px;
  top: 350px;
}
.blot-slider-2 {
  right: 0px;
  bottom: 100px;
}
.blot-slider-3 {
  left: 0px;
  bottom: 270px;
}
.blot-ww-1 {
  left: 630px;
  top: -40px;
}
.blot-ww-2 {
  right: 0px;
  bottom: 250px;
}
.blot-ww-3 {
  left: 0px;
  bottom: 380px;
}
/* .group-img img {
  position: absolute;
}
.group-img .first {
  left: 820px;
  top: 112px;
}
.group-img .second {
  left: 1420px;
  top: 274px;
}
.group-img .third {
  left: 1282px;
  top: 794px;
}
.group-img .fourth {
  left: 350px;
  top: 730px;
  transform: rotate(-32.25deg);
}
.group-img .fives {
  left: 168px;
  top: 326px;
} */
.animated-div {
  padding-top: 300px;
}
.animated-text {
  text-align: center;
  background: linear-gradient(93.32deg, #ffffff 40.39%, #e9516e 82.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-size: 85px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: 1s;
}
.users-p {
  text-align: center;
  color: #7e7e8c;
  font-size: 22px;
  line-height: 33px;
  padding-top: 35px;
}
.users-p .number-user {
  color: #fff;
}
.btn-div {
  padding-top: 35px;
  text-align: center;
}
.btn{
  transition: .3s ease-in-out;
  border: none;
}
.btn:hover {
  background: linear-gradient(264.41deg, #e9516e 15.1%, #f2957e 97.34%);
  color: #fff;
  transform: scale(1.04);
}
/* .grid-div {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  top: 470px;
  left: 120px;
}
.grid-div .grid {
  opacity: 0.5;
} */
.btn-discover {
  text-align: center;
  width: 262px;
  height: 74px;
  background: linear-gradient(264.41deg, #e9516e 15.1%, #f2957e 97.34%);
  box-shadow: 4px 4px 26px rgba(233, 81, 110, 0.58);
  border-radius: 100px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
/* FIRST SECTION END */

/* SECOND SECTION START */
#wtd-section {
  background-image: url(/images/wtd-bg1.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  padding-bottom: 250px;
}
.wtd-header {
  padding-top: 111px;
}
.wtd-h2 {
  text-align: center;
  font-size: 62px;
  line-height: 65px;
  text-transform: capitalize;
  color: #02031d;
}
.wtd-p {
  padding-top: 20px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #444a5c;
}
.wtd-content {
  padding-top: 114px;
}
.wtb-content-second {
  padding-top: 200px;
}
.wtd-content img,
.content-div {
  display: inline-block;
}
.content-div {
  margin-left: 130px;
  vertical-align: middle;
}
.content-div-second {
  margin-left: 0px;
}
.content-h2 {
  margin-top: 30px;
  animation-duration: 1s;
  font-size: 42px;
  line-height: 49px;
  text-transform: capitalize;
  color: #02031d;
}
.content-h21 {
  animation-duration: 1s;
  font-size: 42px;
  line-height: 49px;
  text-transform: capitalize;
  color: #02031d;
  margin-top: 120px;
}
.content-p {
  animation-delay: 100ms;
  animation-duration: 1s;
  padding-top: 20px;
  font-size: 20px;
  line-height: 30px;
  color: #444a5c;
}
.btn-content {
  animation-delay: 500ms;
  animation-duration: 1s;
  margin-top: 20px;
  width: 180px;
  height: 67px;
  background: linear-gradient(264.41deg, #e9516e 15.1%, #f2957e 97.34%);
  border-radius: 100px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: capitalize;
}
.btn-content-second {
  width: 317px;
  height: 67px;
}
.content-img-second {
  margin-left: 205px;
  width: 490px;
  height: 600px;
}
.wtd-bg {
  position: absolute;
  width: 2085px;
  height: 736px;
}
/* SECOND SECTION END */

/*THIRD SECTION START*/
#wg {
  background-color: #151227;
  padding-bottom: 120px;
  position: relative;
}
.wg-header {
  padding-top: 145px;
}
.wg-h2 {
  font-size: 62px;
  line-height: 65px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}
.wg-p {
  padding-top: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}
.wg-slider {
  position: relative;
  margin-top: 50px;
}
.wg-slider1 {
  margin-top: 100px;
}
.wg-slider-txt,
.wg-slider-img {
  display: inline-block;
  vertical-align: middle;
}

.slider-p {
  width: 468px;
  margin-top: 17px;
  font-size: 20px;
  line-height: 30px;
  color: #b9b8be;
}
.slider-h3 {
  font-size: 42px;
  line-height: 60px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  background: linear-gradient(93.32deg, #ffffff 40.39%, #e9516e 82.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
}
.slider-h3-second {
  margin-top: 33px;
  font-size: 34px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #444152;
}
.stop {
  height: 100%;
  overflow: hidden;
}
.slider-h3-third {
  margin-top: 16px;
  font-size: 30px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #2c293c;
}
.slider-one-img {
  margin-bottom: 20px;
}
.slider-h3-fourth {
  font-size: 24px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #2c293c;
}
.wg-slider-img {
  background-image: url(/images/grid-slider.png);
  margin-left: 120px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 550px;
}
.wg-slider-img img {
  vertical-align: baseline;
}
/*THIRD SECTION END */

/* FOURTH SECTION START */
#product {
  min-height: 1050px;
}
.product-wg-h2,
.product-slider-h3 {
  color: #02031d;
}
.product-slider-h3 {
  font-size: 42px;
  line-height: 49px;
}
.product-slider-p {
  width: 450px;
  color: #444a5c;
  opacity: 1;
}
.product-slider-txt {
  margin-top: 50px;
}
.appstore {
  width: 202.34px;
  height: 66px;
  margin-top: 20px;
}
.prouct-slider {
  margin-top: 120px;
}
.product-wg-slider-img img {
  vertical-align: middle;
}
/* FOURTH SECTION END */

/* FIFTH SECTION START */
#ww {
  position: relative;
  background-color: #151227;
  padding-bottom: 150px;
}
.ww-icon-one {
  background-image: url(/images/x-line.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.wg-header {
  padding-top: 126px;
}
.ww-group {
  margin-top: 100px;
}
.ww-group-second {
  margin-top: 150px;
}
.ww-group-div {
  display: inline-block;
  width: 49%;
}
.ww-group-p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #b9b8be;
}
.ww-group-img {
  display: block;
  margin: 0 auto;
}
/* FIFTH SECTION END */

/* SIXTH SECTION START */
#lub {
  padding-bottom: 107px;
}
.lub-content {
  padding-top: 114px;
}
.lub-content1 {
  padding-top: 94px;
}
.lub-header {
  padding-top: 131px;
}
.lub-h2 {
  color: #02031d;
}
.lub-p {
  color: #444a5c;
}
.lub-img {
  width: 500px;
}
.lub-img-second {
  margin-left: 100px;
}
.lub-ul,
.lub-li {
  font-family: Akzidenz-Grotesk Next;
  color: #444a5c;
  margin: 0 0 17px 0;
  padding: 0;
}
.lub-li::marker {
  color: #e9516e;
}
/* SIXTH SECTION END */

/* SEVENTH SECTION START */
#join {
  background: #151227;
  padding-bottom: 114px;
}
.container-join{
  max-width: 1084px;
}
.join-cards {
  margin-top: 62px;
}
.card {
  border-radius: 20px;
}
.card-body {
  padding: 36px 20px 28px 30px;
  max-width: 339px;
  border-radius: 10px;
  background: linear-gradient(264.41deg, #ffffff 15.1%, #ffffff 97.34%);
  margin: 27px auto 0;
}
.join-col{
  padding-left: 11px;
  padding-right: 11px;
}
.cad1 {
  animation-delay: 100ms;
}
.cad2 {
  animation-delay: 200ms;
}
.cad3 {
  animation-delay: 300ms;
}
.cad4 {
  animation-delay: 400ms;
}
.cad5 {
  animation-delay: 500ms;
}
.cad6 {
  animation-delay: 600ms;
}
.card-title {
  font-size: 24px;
  line-height: 25px;
  color: #02031d;
  margin-bottom: 10px;
}
.card-text {
  font-size: 18px;
  line-height: 25px;
  color: #4e4f61;
  opacity: 0.7;
  margin-bottom: 19px;
}
.join-btn {
  width: 137px;
  height: 41px;
  font-size: 16px;
  line-height: 16px;
  margin-top: 21px;
}
.time-zone-div img,
.time-zone-div p {
  display: inline-block;
}
.time-zone-div p {
  padding-left: 5px;
  font-size: 16px;
  line-height: 25px;
  color: #4e4f61;
  opacity: 0.7;
  margin-bottom: 0 !important;
}
/* SEVENTH SECTION END */

/* EIGHTH SECTION START */
#main-footer {
  background: #151227;
  padding-bottom: 50px;
}
.footer-header {
  padding-top: 0px;
}
.footer-header img {
  display: block;
  margin: 0 auto;
}
.footer-p span {
  color: #ff4f6c;
}
.main-form {
  margin-top: 73px;
}
.form-control {
  height: 70px !important;
  padding: 0.375rem 1.85rem !important;
  color: #fff !important;
}
#inputPassword4 {
  margin-top: 37px;
}
form {
  max-width: 1170px;
  margin: 0 auto;
}
.ftr {
  padding-top: 150px;
}
.ftr-p {
  font-family: Akzidenz-Grotesk Next;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #b8b7be;
}
.ftr-menu {
  /*padding-left: 70px;*/
}
.ftr-menu,
.ftr-mail,
.ftr-lct {
  padding-top: 10px;
}
.ftr-h2,
.ftr-h2-a {
  font-family: Akzidenz-Grotesk Next;
  font-size: 22px;
  line-height: 29px;
  color: #ffffff;
}
.ftr-h2:hover,
.ftr-h2-a:hover {
  color: #ff4f6c;
  text-decoration: none;
}
.ftr-line {
  margin-top: 40px;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #35364a;
}
.ftr-cpr {
  margin-top: 50px;
}
.ftr-soc {
  margin-top: 35px;
}
.ftr-cpr {
  font-size: 18px;
  line-height: 29px;
  color: #4b4c68;
}
.form-group label {
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.1em;
  color: #ffffff;
}
form input {
  background-color: transparent !important;
  height: 55px !important;
  border: 1px solid #35364a !important;
  box-sizing: border-box;
  border-radius: 5px !important;
}
form input:focus {
  border: 1px solid #ff4f6c !important;
}
.form-btn {
  margin-top: 50px !important;
  display: block;
  margin: 0 auto;
  width: 180px;
  height: 67px;
}
/* EIGHTH SECTION END */

/* SECOND PAGE START*/
/* FIRST SECTION START */
#main-section-sp {
  background-color: #151227;
  position: relative;
  height: 1150px;
  z-index: 1;
  overflow: hidden;
  background-image: url(/images/grid2.png);
  background-position: bottom;
  background-repeat: no-repeat;
}
.animated-div-sp {
  padding-top: 150px;
}
.animated-div {
  padding-top: 270px;
}
.grid-div-sp {
  top: 0;
  left: 100px;
}
.grid-div-sp .grid {
  opacity: 1;
}
.bumper1-sp {
  left: 280px;
  top: 320px;
}
.bumper2-sp {
  left: 1300px;
  top: 290px;
}
.bumper3-sp {
  left: 1560px;
  top: 470px;
}
.bumper4-sp {
  left: 1300px;
  top: 730px;
  /* transform: rotate(-32.25deg); */
}
.bumper5-sp {
  left: 300px;
  top: 750px;
}
.bumper6-sp {
  left: 90px;
  top: 500px;
}
.wg-slider {
  margin-top: 0px;
}
.wg-slider-img-sp {
  margin: 0;
}
.wg-slider-img-sp img {
  width: 600px;
}
/* FIRST SECTION END */
/* recruitmen SECTION START */
#rec {
  background-color: #151227;
  position: relative;
  padding-bottom: 150px;
}
.rec-header {
  padding-top: 162px;
}
.rec-p {
  margin-top: 26px;
}
.owl-img {
  text-align: center;
  margin-bottom: 15px;
  /* margin-top: 130px; */
}
.line-img {
  left: 110px;
  padding-top: 10px;
}
.owl {
  width: 200px;
  height: 150px;
}
.owl-h3,
.owl-p {
  display: block;
  color: #fff;
}
.owl-h3 {
  /* margin-top: 40px; */
  font-weight: 500;
  font-size: 24px;
  line-height: 25px;
}
.owl-p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 25px;
  opacity: 0.7;
}
/* recruitmen SECTION END */
/* SECOND PAGE END  */

/* THIRD PAGE START  */
/* FIRST SECTION START */
#jobs {
  background-image: url(/images/jobs.png);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}
.jobs-h1 {
  width: 213px;
  height: 90px;
  margin: 0 auto;
}
.razdel {
  width: 99px;
  height: 99px;
}
.group-img-third,
.group-img-pos,
.group-img-vacan {
  top: 400px;
  position: relative;
  display: table;
  margin: 0 auto;
}
.group-img-third {
  top: 200px;
}
/* FIRST SECTION END */
/* SECOND SECTION START */
.jobs-div {
  margin-top: 80px;
}
.second-row {
  margin-top: 30px;
}

.jobs-p {
  color: #02031d;
  font-size: 23px;
  line-height: 33px;
  opacity: 0.7;
}
.job-card {
  background: linear-gradient(264.41deg, #ffffff 15.1%, #ffffff 97.34%);
  box-shadow: 15px 17px 51px rgba(147, 144, 170, 0.18);
  border-radius: 10px;
}
.arrow {
  position: absolute;
  bottom: 44px;
  right: 28px;
}
.jobs-body {
  height: auto;
  position: relative;
  margin-top: 0;
  margin-left: 0;
  transition: .5s;
}
/* SECOND SECTION END */
/* THIRD PAGE END  */

/* POSITIONS PAGE START  */
/* FIRST SECTION START */
#positions {
  background-image: url(/images/positions.png);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}
.positions-h1 {
  height: 90px;
  margin: 0 auto;
}
.positions-body {
  position: relative;
  margin-top: 105px;
}
.cat {
  max-width: 339px;
  width: 100%;
  background: linear-gradient(264.41deg, #FFFFFF 15.1%, #FFFFFF 97.34%);
  box-shadow: 15px 17px 51px rgba(147, 144, 170, 0.1);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.cat-body {
  font-family: Akzidenz-Grotesk Next;
  font-size: 20px;
  /*line-height: 25px;*/
  padding: 20px;
  /*border-bottom: 1px solid #f0eff3;*/
  position: relative;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.cat-body:hover {
  background-color: #f0eff3;
}
.cat-body:after{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  content: '';
  display: block;
  width: 100%;
  max-width: 295px;
  height: 1px;
  background: #f0eff3
}
.cat-body:last-of-type:after{
  display: none;
}
.cat-body h3 {
  font-size: 20px;
  line-height: 25px;
}
.number-body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 26px;
  height: 26px;
  background: linear-gradient(264.41deg, #e9516e 15.1%, #f2957e 97.34%);
  color: #fff;
  border-radius: 100px;
  font-size: 15px;
  line-height: 23px;
}
.cat-body:hover .title{
    font-weight: 600;
}
.positions-p {
  font-size: 20px;
  line-height: 30px;
  padding-top: 26px;
  width: 614px;
  margin-bottom: 75px;
  color: #444a5c;
}
.vacancies {
  position: relative;
  background: linear-gradient(264.41deg, #ffffff 15.1%, #ffffff 97.34%);
  box-shadow: 15px 17px 51px rgba(147, 144, 170, 0.15);
  border-radius: 10px;
  color: #02031d;
  /* width: 490px; */
  transition: 500ms;
}
.vacancies:hover {
  transform: scale(1.1);
}
.positions-arrow {
  position: absolute;
  top: 35px;
  /*left: 720px;*/
}
.vacancies h3 {
  font-size: 20px;
  line-height: 25px;
  padding: 25px;
}
.vacancies a{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* FIRST SECTION END */
/* POSITIONS PAGE END  */

/* VACANCIES PAGE START  */
/* FIRST SECTION START */

/* FIRST SECTION END */
/* VACANCIES PAGE END  */
#vacancy {
  background-image: url(/images/vacancies.png);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}
.vacancy-btn {
  margin: 0 auto;
  padding: 0 23px 0 27px;
  width: 262px;
  height: 74px;
  background: linear-gradient(264.41deg, #e9516e 15.1%, #f2957e 97.34%);
  box-shadow: 4px 4px 26px rgba(233, 81, 110, 0.11);
  border-radius: 100px;
  transition: .3s;
  cursor: pointer;
}
.vacancy-btn:hover {
  background: linear-gradient(264.41deg, #e9516e 15.1%, #f2957e 97.34%);
  color: #fff;
  transform: scale(1.04);
}
.vacancy-btn-text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.vc-md3 {
  padding: 22px 0 0 0;
  text-align: end;
  margin-right: 6px;
}
.vc-md9 {
  padding-top: 22px;
  text-align: start;
}
#vacancy-div {
  margin-top: 105px;
  padding-bottom: 150px;
}
.vacancy-body {
  border-bottom: 1px solid #e8e8eb;
  padding-bottom: 40px;
}
.vacancy-body-last {
  border: none !important;
}
.vacancy-h1 {
  text-align: center;
  color: #fff;
  font-size: 85px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: 1s;
  padding-top: 10px;
}
.vacancy-h1-pos {
  padding-top: 60px;
}
.vacancy-h2 {
  font-size: 24px;
  line-height: 49px;
  text-align: left;
  margin-top: 40px;
}
.vacancy-p {
  font-size: 18px;
  line-height: 30px;
  color: #444a5c;
}
.vacancy-ul {
  margin: 0;
  padding: 0 0 0 20px;
}
.vacancy-li {
  color: #ff506b;
}
.vacancy-li span {
  color: #444a5c;
  font-size: 17px;
  line-height: 40px;
}
.btn-body {
  display: block;
  margin-top: 77px !important;
  text-align: center;
}
.vacancy-form {
  margin-top: 90px;
}
.vacancy-group {
  text-align: left !important;
  color: #000;
}
.bold-li {
  font-weight: bold;
}
.vacancy-group label {
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #02031d;
  font-family: Akzidenz-Grotesk Next;
  font-weight: 600;
}
.vacancy-form input {
  color: #444a5c;
  font-size: 18px;
  line-height: 29px;
  background-color: #f7f7f9 !important;
  border: 1px solid #e2e2e2 !important;
  box-sizing: border-box;
  border-radius: 5px !important;
}
/* LAST PAGE START */
/* FIRST SECTION START */
.last-page {
  margin-top: 100px;
}
.group-img .first-lp {
  left: 297px;
  top: 228px;
}
.group-img .second-lp {
  left: 1268px;
  top: 217px;
}
.group-img .third-lp {
  left: 1464px;
  top: 432px;
}
.group-img .fourth-lp {
  left: 176px;
  top: 423px;
}
#main-section-form {
  background-color: #151227;
  position: relative;
  height: 1000px;
  z-index: 1;
  overflow: hidden;
}
.bumper4-form,
.bumper5-form {
  display: none;
}
.bumper1-form {
  left: -60px;
  top: 181px;
}
.bumper2-form {
  left: 1580px;
  top: 170px;
}
.bumper3-form {
  left: 1500px;
  top: 432px;
}
.bumper6-form {
  left: 50px;
  top: 423px;
}
/* FIRST SECTION END */
/* LAST PAGE END */

/* ANIMATION TYPING TEXT FIRST SLIDE START */
.bla {
  width: 350px;
  margin: 0 auto;
  position: relative;
  font-size: 36px;
  color: #ea4f6c;
}
#typing {
  white-space: nowrap;
  overflow: hidden;
  width: 850px;
  background: linear-gradient(93.32deg, #eee 1%, #e9516e 82.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-size: 85px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  font-family: Gramatika-Black;
}
/* ANIMATION TYPING TEXT FIRST SLIDE END */

/* ANIMATION BOUNCE ICON START */
@keyframes float-bob {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
/* .banner-right {
  animation-name: float-bob;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
} */
/* ANIMATION BOUNCE ICON END */

/* ANIMATION REPEL ICON START */
.circle {
  float: left;
}

.bumper1 {
  left: 770px;
  top: 62px;
}
.bumper2 {
  left: 1370px;
  top: 224px;
}
.bumper3 {
  left: 1232px;
  top: 744px;
}
.bumper4 {
  left: 300px;
  top: 680px;
  /* transform: rotate(-32.25deg); */
}
.bumper5 {
  left: 118px;
  top: 276px;
}
.bumper6 {
  left: 118px;
  top: 276px;
}
/* ANIMATION REPEL ICON END */

/* MAIN SLIDER START */

.wg-slider {
  animation-duration: 2s;
}


.section-content1 .product-slider-h3,
.section-content1 .product-slider-p,
.section-content1 .appstore,
.section-content1 .phone-ul {
  opacity: 0;
  animation: fadeInUpLOL;
  animation-duration: 100ms;
}
._active1 .section-content1 .product-slider-h3,
._active1 .section-content1 .product-slider-p,
._active1 .section-content1 .appstore,
._active1 .section-content1 .phone-ul {
  opacity: 1;
  animation: fadeInUp;
  animation-duration: 1s;
}

.section-content1 .product-wg-slider-img {
  opacity: 0;
}

._active1 .section-content1 .product-wg-slider-img {
  opacity: 1;
  animation: swipeLeft;
  animation-duration: 500ms;
}

.section-content .slider-h3,
.section-content .slider-p,
.section-content .wg-slider-img,
.section-content .next-btn,
.section-content .prev-btn,
.section-content .slider-one-img,
.section-content .slider-h3-fourth,
.section-content .anm {
  /* opacity: 0; */
  /* animation: fadeInUpLOL; */
  display: none;
  animation-duration: 100ms;
}
._active .section-content .slider-h3,
._active .section-content .slider-p,
._active .section-content .next-btn,
._active .section-content .prev-btn,
._active .section-content .slider-one-img,
._active .section-content .slider-h3-fourth,
._active .section-content .anm {
  /* opacity: 1; */
  display: block;
  animation: fadeInUp;
  animation-duration: 1s;
}

._active .section-content .wg-slider-img {
  /* opacity: 1; */
  display: inline-block;
  animation: fadeInUp;
  animation-duration: 1s;
}

/* ._active .section-content .slider-p {
  animation-delay: 200ms;
}
._active .section-content .wg-slider-img {
  animation-delay: 200ms;
}
._active .section-content .next-btn {
  animation-delay: 200ms;
}
._active .section-content .prev-btn {
  animation-delay: 200ms;
} */
/* .section-content,
.section-content1 {
  opacity: 0;
  animation: fadeInUpLOL;
  animation-duration: 1.5s;
}
._active .section-content,
._active1 .section-content1 {
  animation: fadeInUp;
  animation-duration: 1.5s;
  opacity: 1;
} */
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 100px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* @keyframes fadeInUpLOL {
  from {
    animation-delay: 0ms;
    transform: translate3d(0, 0, 0);
    opacity: 0.1;
  }

  to {
    animation-delay: 0ms;
    transform: translate3d(0, -10px, 0);
    opacity: 0;
  }
} */
@keyframes swipeLeft {
  from {
    animation-delay: 0ms;
    transform: translate3d(-200px, 0, 0);
    opacity: 0;
  }

  to {
    animation-delay: 0ms;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.nav-dots,
.nav-dots1 {
  position: absolute;
  top: 300px;
  left: -90px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 20;
  width: 40px;
}
.nav-dots1 {
  top: 400px;
}
.nav-dot,
.nav-dot1 {
  width: 34px;
  height: 34px;
  margin: 15px auto;
  border-radius: 50%;
  background-image: url(/images/small-dot.png);
  cursor: pointer;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  background-repeat: no-repeat;
  background-position: center;
}
.nav-dot.active,
.nav-dot1.active1 {
  background-image: url(/images/dot.png);
  /* background: #ea4f6c; */
}

.next-btn,
.prev-btn,
.next-btn1,
.prev-btn1 {
  cursor: pointer;
}
.mobile-br {
  display: none;
}
.pc-br {
  display: block;
}
/* MAIN SLIDER END */

/* ANIMATION BLOCKS START */
.anm-div {
  margin: 0 !important;
  display: inline-block;
}
.anm {
  margin: 0 auto;
}
.jobs-card{
  position: relative;
  z-index: 0;
}
.jobs-card:hover {
  transform: scale(1.1);
  z-index: 1;
}

/* ANIMATION BLOCKS END */
.ham-div:hover {
  background: linear-gradient(264.41deg, #e9516e 15.1%, #f2957e 97.34%);
  border-color: #e9516e;
  transform: scale(1.04);
}
.owl-pc {
  display: none;
}
#jobs-sp {

  color: #fff;
  text-align: center;
  padding-top: 240px;
  /* background: linear-gradient(93.32deg, #ffffff 40.39%, #e9516e 82.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-size: 85px;
  width: 213px;
  margin: 0 auto;
}
.jobs-card{
  transition: .5s;
}
@media screen and (min-width: 992px){
  .wrapper,
  .wrapper1 {
    position: relative;
    top: 0;
    width: 100vw;
    height: 65vh;
    max-width: 100%;
    max-height: 100%;
    /* overflow: hidden; */
  }
  .psevdo-wrapper{
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    z-index: 100;
  }
  .panel,
  .panel1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  .panel._active,
  .panel1._active1 {
    z-index: 10;
  }
  .trans-layer,
  .section,
  .trans-layer1,
  .section1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
@media (min-width: 500px) {
  .mobile-line {
    display: none;
  }
}
@media screen and (max-width: 1700px){
  .bumper1 {
    left: 44%;
    top: 62px;
  }
  .bumper2 {
    left: 80%;
    top: 224px;
  }
  .bumper3 {
    left: 75%;
    top: 744px;
  }
  .bumper4 {
    left: 15%;
    top: 680px;
    /* transform: rotate(-32.25deg); */
  }
  .bumper5 {
    left: 10%;
    top: 276px;
  }
  .bumper6 {
    left: 10%;
    top: 276px;
  }
  .bumper1-sp,
  .bumper4-sp,
  .bumper3-sp,
  .bumper5-sp,
  .bumper6-sp{
    display: none;
  }
}
@media screen and (max-width: 1400px){
  .bumper1 {
    left: 44%;
    top: 62px;
  }
  .bumper2 {
    left: 80%;
    top: 224px;
  }
  .bumper3 {
    left: 75%;
    top: 744px;
  }
  .bumper4 {
    left: 9%;
    top: 690px;
    /* transform: rotate(-32.25deg); */
  }
  .bumper5 {
    left: 4%;
    top: 220px;
  }
  .bumper6 {
    left: 10%;
    top: 276px;
  }
  .product-wg-slider-img img {
    height: 550px;
  }
}
@media screen and (max-width: 1200px){
  .bumper1 {
    left: 44%;
    top: 62px;
  }
  .bumper2 {
    left: 80%;
    top: 310px;
  }
  .bumper3 {
    left: 75%;
    top: 744px;
  }
  .bumper4 {
    left: 2%;
    top: 702px;
    /* transform: rotate(-32.25deg); */
  }
  .bumper5 {
    left: 4%;
    top: 310px;
  }
  .bumper6 {
    left: 10%;
    top: 276px;
  }
  .wg-slider-img{
    margin-left: 0;
  }
}
@media screen and (max-width: 1153px){
  .wg-slider-img{
    max-width: 490px;
  }
}
@media (max-width: 991.98px) {
  .cat {
    max-width: 100%;
  }
  .cat-body:after{
    max-width: 96%;
  }
  #lub{
    padding-bottom: 38px;
  }
  .h-menu{
    margin-bottom: 55px;
  }
  .wrapper1 .panel1 .section-content1{
    position: absolute;
    top: 0;
  }
  .wrapper1 .panel1:nth-child(2) .section-content1{
    position: static;
  }
  .wg-slider-img{
    margin: 0 auto;
  }
  .menu-sticky .hdr{
    margin: 21px 23px 22px 17px;
  }
  #inputPassword4 {
    margin-top: 0;
  }
  #main-section {
    height: 800px;
  }
  .animated-div {
    padding-top: 200px;
  }
  .menu-container {
    max-width: 100% !important;
  }

  .s-cnt {
    padding: 50px 0 0 0;
  }
  .close-menu {
    top: 30px;
    right: 5%;
  }
  .ftr-menu {
    /* margin-top: 100px; */
  }
  .ftr{
    padding-top: 38px;
  }
  .first-block {
    display: none;
  }
  .ftr-menu-li {
    margin: 0 0 30px 40px;
  }
  .mail-menu {
    margin-left: 40px;
  }
  .vacancy-h1-pos {
    font-size: 60px !important;
  }
  #product {
    /*min-height: 1150px;*/
    padding-bottom: 52px;
  }
  .ftr-cpr {
    margin-top: 40px;
  }
  .ftr-soc {
    margin-top: 25px;
  }
  .ftr-soc a:first-of-type{
    margin-right: 14px;
  }
  .ftr-logo {
    margin-bottom: 30px;
  }
  #rec {
    padding-bottom: 50px;
  }
  .owl-pc {
    display: inline-block;
  }
  .wg-sp {
    min-height: 800px !important;
  }
  .slider-one-img {
    margin: 0 auto;
  }
  .anm-dsb {
    display: none !important;
  }
  .wtb-content-second {
    padding-top: 50px;
  }
  .ww-group {
    margin: 0;
  }
  .content-h21 {
    font-size: 35px;
  }
  .pc {
    display: none;
  }
  #wtd-section {
    padding-bottom: 100px;
  }
  .mobile {
    display: block;
  }
  .typed-cursor {
    font-size: 40px;
  }
  .anm {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
  }
  img {
    max-width: 100% !important;
    margin: 0;
  }
  .hdr {
    margin: 25px 23px 22px 17px;
  }
  .hdr img {
    width: 173.53px;
    height: 42px;
  }
  .ham-div {
    /*background-image: url(/images/ham.png);*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: auto;*/
    width: 67px;
    height: 67px;
    border: 1px solid #35364a;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: transparent;
    top: 10px;
    position: absolute;
    right: 23px;
  }

  .menu {
    margin: -100px 0 0 -211px;
    display: none;
  }
  .btn-pc {
    display: none;
  }
  .wtd-header h2,
  .wg-header h2 {
    font-size: 42px;
    line-height: 48px;
  }
  .ww-icon-one {
    background-image: none;
  }
  #ww .blot {
    display: none;
  }
  #jobs .blot,
  #positions .blot,
  #vacancy .blot,
  #main-section-form .blot {
    display: none;
  }
  .bumper1 {
    left: calc(50% - 89px);
    top: 620px;
  }
  .bumper2 {
    display: none;
  }
  .bumper3 {
    right: 25% !important;
    top: 48px !important;
    left: unset;
  }
  .bumper4 {
    left: 25% !important;
    top: 20px !important;
    /* transform: rotate(-32.25deg); */
  }
  .bumper5 {
    display: none;
  }
  .first {
    width: 77px;
    height: 75px;
  }
  .third {
    width: 88.66px;
    height: 85.72px;
  }
  .fourth {
    width: 131.02px;
    height: 138.24px;
  }
  .animated-text,
  .gui {
    font-size: 36px;
    margin: 0;
    line-height: 45px;
  }
  .bla {
    left: 110px;
    line-height: 45px;
    font-size: 36px;
  }
  #typing {
    font-size: 36px;
    width: 100%;
  }
  .gui {
    width: auto;
    text-align: center;
    animation: none;
  }
  .wtd-header {
    padding-top: 62px;
  }
  .wtd-p {
    font-size: 22px;
  }
  .content-div {
    margin: 0;
    padding-top: 24px;
  }
  br {
    display: none;
  }
  .wtd-content {
    padding-top: 50px;
  }
  .transform-img {
    transform: scale(-1, 1);
  }
  .wtb-content-second,
  .wg-slider,
  .wg-slider1,
  .positions-body,
  .anm {
    display: flex;
    flex-flow: wrap;
    margin: 0 auto;
  }
  .positions-body{
    padding-top: 87px;
  }
  .fb {
    order: 2;
    width: 100%;
  }
  .sb {
    order: 1;
    width: 100%;
  }
  .content-div-second {
    order: 2;
    width: 100%;
  }
  .content-img-second,
  .anm {
    order: 1;
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
  .ftr-menu {
    padding-left: 15px;
  }
  .mobile-br {
    display: block;
  }
  .div-pc {
    display: none;
  }
  #main-footer {
    padding-bottom: 10px;
  }
  .content-h2 {
    font-size: 35px;
    line-height: 44px;
  }
  .content-div-second .btn-content-second {
    display: block;
    margin: 0 auto;
  }
  .wg-h2 {
    line-height: 48px;
  }
  .wg-header {
    padding-top: 87px;
  }
  .slider-h3 {
    text-align: center;
    font-size: 36px;
  }
  .slider-h3-second,
  .slider-h3-third,
  .slider-h3-fourth {
    display: none !important;
  }
  .wrapper {
    order: 1;
  }
  .nav-dots,
  .nav-dots1 {
    order: 2;
  }
  .wg-slider-txt {
    order: 2;
    text-align: center;
  }
  .nav-dots,
  .nav-dots1 {
    top: 0;
    left: 0;
    position: relative;
    -webkit-transform: none;
    transform: none;
    width: 121px;
    display: flex;
    margin: 0 auto;
  }
  /*.nav-dots1{*/
  /*  top: 80px;*/
  /*}*/
  /*.nav-dots {*/
  /*  top: 185px;*/
  /*}*/
  .nav-dots-sp {
    width: 140px;
    top: 50px;
  }
  .slider-p {
    text-align: center;
  }

  /*.wrapper-sp {*/
  /*  height: 75vh;*/
  /*}*/
  #wg {
    padding-bottom: 52px;
    /*min-height: 1300px;*/
  }
  .product-slider-p {
    margin: 17px 0 30px 0;
  }
  .appstore,
  .ww-group-img {
    display: block;
    margin: 30px auto !important;
  }
  .ww-group-div {
    width: auto;
  }
  .ww-group-second {
    margin-top: 41px;
  }
  .lub-ul {
    margin-left: 20px;
  }
  .card-body {
    height: auto;
  }
  .line-img {
    display: none;
  }
  .owl-img {
    margin-top: 0;
  }
  .pc-cards {
    display: none;
  }
  #join {
    padding-bottom: 0;
  }
  .jobs-card {
    margin-bottom: 10px;
  }
  #jobs {
    /*background-color: #02031d;*/
    background-position-x: center;
    height: 600px;
  }
  .gui1 {
    font-size: 56px;
    line-height: 74px;
  }
  .group-img-third,
  .group-img-vacan,
  .group-img-pos {
    position: relative;
    text-align: center;
    top: 318px;
  }
  .group-img-third {
    top: 210px;
  }
  .group-img-third .razdel,
  .group-img-pos .razdel,
  .group-img-vacan .razdel {
    position: relative;
    /*top: -30px;*/
    left: 0;
  }
  .positions-p {
    width: auto;
    padding-top: 10px;
  }
  .positions-arrow {
    /*left: 370px;*/
  }
  .cat {
    /*padding-top: 44px;*/
    margin: 0 auto;
  }
  .vacancies {
    box-shadow: none;
  }
  .cat-div {
    order: 2;
  }
  .pos-div {
    order: 1;
  }
  .pos-div-head {
    font-size: 36px;
    line-height: 44px;
    text-transform: capitalize;
    color: #02031d;
    margin-top: 0;
  }
  #main-section-form {
    height: 1200px;
  }
  .form-ftr {
    padding-top: 100px;
  }
  .bumper2-form,
  .bumper6-form {
    display: none;
  }
  .vacancy-h1-vac {
    font-size: 42px;
  }
  .slider-p,
  .product-slider-p {
    width: auto;
    margin-top: 20px;
  }

  .wrapper1 {
    /*height: 100vh;*/
    overflow: visible;
  }

  #main-section-sp {
    height: 900px;
    background-position: bottom;
    background-size: 1000px !important;
  }
  .bumper2-sp {
    left: 130px !important;
    top: 80px !important;
  }
  .bumper2-sp img {
    width: 95px;
    height: 92px;
  }
  .bumper6-sp img {
    width: 98px;
    height: 102px;
  }
  .bumper6-sp {
    left: 0px !important;
    top: 60px !important;
  }
  .blot-header-1-sp {
    left: 10px;
    top: -39px;
  }
  .blot-header-2-sp {
    top: 184px;
    right: -80px;
  }
  .blot-header-3-sp {
    display: none;
  }
  .animated-div-sp {
    padding-top: 230px;
  }
  .product-slider-txt{
    width: 100%;
  }
  .lub-ul{
    list-style-type: none;
  }
}
@media screen and (max-width: 850px){
  .main-container {
    left: 0;
  }
}
@media screen and (max-width: 700px){

  .bumper2 {
    display: none;
  }
  .bumper3 {
    right: 10% !important;
  }
  .bumper4 {
    left: 10% !important;
    /* transform: rotate(-32.25deg); */
  }
  .bumper5 {
    display: none;
  }
  .vacancies h3 {
    padding: 25px 0;
    max-width: 290px;
  }
}
@media screen and (max-width: 602px){
  .nav-dots1{
    top: 0;
  }
  .nav-dots {
    top: 0;
  }
}
@media screen and (max-width: 540px){
  .product-wg-slider-img img{
    height: auto !important;
  }
}
@media screen and (max-width: 420px){

  .bumper2 {
    display: none;
  }
  .bumper3 {
    right: 20px !important;
  }
  .bumper4 {
    left: 0 !important;
    /* transform: rotate(-32.25deg); */
  }
  .bumper5 {
    display: none;
  }
}
@media screen and (max-width: 408px){
  .nav-dots{
    /*top: 135px;*/
  }
}
@media (max-width: 375px) {
  .s-cnt {
    padding: 100px 0 0 0;
  }
}
@media screen and (max-width: 350px){
  .bumper3 {
    right: 0 !important;
  }
  .bumper4 {
    left: -20px !important;
    /* transform: rotate(-32.25deg); */
  }
}
/* @media (min-width: 2559px) {
  #main-section {
    height: 1600px;
    background-position: center;
  }
} */
